body {
    padding: 0;
    margin: 0;
    border:0;
}



.one {
    height:170px;
    width:  97.5vw;
    background-image: url(bg1.jfif);
    color:black ;
    margin: 0%;
    padding: 20px;
    background-position:center ;
    text-align: center;
  

}
.hed {
    padding: 15px;
    margin: 0;
    border: 0;
    text-align: center;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:10px 10px 5px rgba(56, 52, 18, 0.699);
    text-overflow: transparent;
}
.container {
    background-image: url(YO\ \(2\).jpg);
    height: 100%;
    width: 100vw;
    background-position: right;
    display: flex;
    flex-direction: row;
}

.b{
    height: 50vh;
    width: 20vw;
 
}
#t1 {
    padding:0 1.5cm 0 1.5cm ;
}
#t2{
    padding:0 2cm 0 2cm ;
}
#t3{
    padding:0 2.2cm 0 2.2cm ;
}
.b1{
    height: 35vh;
    width: 14vw;
    position: relative;
    top: -43vh;
    left: 3vw;
    cursor: pointer;
    transition: 0.5s;
  
}

.c {
    margin: 5% 13% 5% 4%;
   
    
}
.dv {
    display: flex;
    height: 40vh;
    width: 16vw;
    flex-direction: row;
    position: relative;
    top: -33vh;
    left: 1vw;
    text-align: justify;
    color: rgb(221, 170, 39);
    transition: 0.5s;

}

.b1:hover{
    box-shadow:0 0 20px goldenrod;
    transform: translateY(0.5px)

}
.dv:hover{
      box-shadow: 20px white;
      background-color: goldenrod;
      padding: 11px;
      color: black;
      border-radius: 7%;
}