body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(mbg2.jpg);
}
.p1 {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}
.p2 {
    color: white;
    text-align: center;
}
.p3 {
    padding: 10px 10px 0 10px;
    color: wheat;
    text-align: justify;
}
.c {
    display: flex;
    flex-direction: row;
    border: 2px solid wheat;
    height: 30vh;
    width: 40vw;
    margin: 0 5vw 0 6vw;
}
.img {
    height: 30vh;
    width: 30vw;
    border: 2px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgb(4, 184, 255);
}
.inl {
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 80vh;

}
#i1 {
    background-image: url(22.jfif);
}

#i2 {
    background-image: url(23.jfif);
}

#i3 {
    background-image: url(25.jfif);
}

#i4 {
    background-image: url(31.jfif);
}

#i5 {
    background-image: url(32.jfif);
}

#i6 {
    background-image: url(33.jfif);
}