*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
}
.topimg{
    margin: 0;
    padding: 0;
    background-image: url(roses-2032579_1920.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    background-color: teal;
}
.navbar{
    display: flex;
    background-color: teal;
    color:thistle;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
}
.navbar  li {
    display:inline-block;
    text-decoration: none;
}
.navbar li a:hover{
    padding: 10px;
    border-radius: 20px;
    background-color:rgb(67, 128, 128);
    color: black;
}
.navbar a{
    text-decoration: none;
    padding: 0 10px;
    color: thistle;
    font-weight: bold;
}
.backgrnd{
    background-image: url(homebackground.jpg);
    background-position:right;
    background-size: covr;
    height: 128vh;
    background-repeat: no-repeat;
    width: 10;
}
.backgrnd h1{
    font-size: 127px;
    padding: 190px 0 10px 0;
    color: rgb(182, 62, 41);
}
.backgrnd p{
    font-size: 25px;
    color: crimson;
}
.card{
    display:flex;
    background-color: transparent;
    height: 427px;
    margin: 140px 0;
    padding-top:70px;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
.card .c1{
    margin: 5px;
    background-color:rgba(124, 110, 110, 0.281);
    height: 450px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;
}
.card .c2{
    margin: 5px;
    background-color:rgba(124, 110, 110, 0.281);
    height: 450px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;
}
.card .c3{
    margin: 5px;
    background-color:rgba(124, 110, 110, 0.281);
    height: 450px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;
}
.card .c4{
    margin: 5px;
    background-color:rgba(124, 110, 110, 0.281);
    height: 450px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s;
}
.card a h3{
    font-size:65px;
    text-decoration: none;
    color:rgb(255, 60, 0);
}
.card p{
    font-size: 18px;
    padding-top: 20px;
    color: brown;
}
.card a{
    text-decoration:none ;
}
.card .c1:hover{
    color: gray;
    background-color: rgba(192, 189, 189, 0.815);
    box-shadow: 0 0 10px rgb(88, 84, 84);
    transform: translateY(-10px);
}
.card .c2:hover{
    color: gray;
    background-color: rgba(192, 189, 189, 0.815);
    box-shadow: 0 0 10px rgb(88, 84, 84);
    transform: translateY(-10px);
}
.card .c3:hover{
    color: gray;
    background-color: rgba(192, 189, 189, 0.815);
    box-shadow: 0 0 10px rgb(88, 84, 84);
    transform: translateY(-10px);
}
.card .c4:hover{
    background-color: rgba(192, 189, 189, 0.815);
    box-shadow: 0 0 10px rgb(88, 84, 84);
    transform: translateY(-10px);
}
.footer{
    background-color: rgb(34, 32, 32);
    margin: 100px 0 0 0;
}
.about{
    background-color: rgb(82, 77, 77);
    padding: 20px 0;
    display: flex;
    margin-top: 200px;
    color: rgb(20, 15, 15);
}
.about p{
    font-size: 20px;
    font-weight: bold; 
    padding: 2px 1px;
    color: rgb(61, 30, 30);
}
.bottom{
    display: flex;
    margin: 20px;
    padding:0 25% ;
    
}
.bottom .box1{
    padding: 0 50px;
    
    margin: 0 10px;
}
.bottom .box2{
    padding: 0 50px;
    
    margin: 0 10px;
}
.bottom .box3{
    padding: 0 50px;
    align-items: center;
    margin: 0 10px;
}
.bottom .box1 img{
    border-radius: 50px;
    margin-left: 25px;
    border:2px solid blanchedalmond;

}
.bottom .box2 img{
    border-radius: 50px;
    margin-left: 40px;
    border: blanchedalmond;
    border:2px solid blanchedalmond;
}
.bottom .box3 img{
    border-radius: 50px;
    margin-left: 48px;
    border:2px solid blanchedalmond;
}

.bottom .box1 h5{
    font-size: 20px;
    padding-bottom: 10px;
    color:rgb(228, 208, 179);
}
.bottom .box2 h5{
    font-size: 20px;
    padding-bottom: 10px;
    color:rgb(228, 208, 179);
}

.bottom .box3 h5{
    font-size: 20px;
    padding-bottom: 10px;
    color:rgb(228, 208, 179);
}


.bottom .box1 h3{
    font-size: 30px;
    text-align: center;
    color: rgb(89, 102, 102);
}
.bottom .box2 h3{
    font-size: 30px;
    text-align: center;
    color: rgb(89, 102, 102);
}
.bottom .box3 h3{
    font-size: 30px;
    text-align: center;
    color: rgb(89, 102, 102);
}
.img{
    display:flex;
    padding-top: 10px;
    margin: 5px 37%;
    padding: 10px px;
    
}
.img .i1{
    padding: 0 30px;
}
.img .i2{
    padding: 0 30px;
}
.img .i3{
    padding: 0 30px;
}
.bottom h3{
    font-size: 25px;
}
.blank{
    height: 10px;
    background-color: rgb(22, 21, 21);
}
